<h1>Welcome. Non-Profit coordination program</h1>

<p>
  <a href="/projects">See Project List</a>
</p>
<p>
  <a href="/projects/new">Add New Projects</a>
</p>
<p>
  <a href="/volunteers">See Volunteers List</a>
</p>
<p>
  <a href="/volunteers/new">Add New Volunteers</a>
</p>
