<div class="well">
  <h2>Welcome to our Non-Profit coordination program</h2>
  <div class="class="panel panel-default"">
    <div class="panel-heading">
      <p>
        In our efforts to centralize and better coordinate our organizations we have developed this small program to allow us to create a database of important projects and list of all of our valuable volunteers. These people are the heart and soul of what keeps us going. No man is an island. Stronger Together. Yes We Can! Hope and change. Make America Great Again. Blah blah blah. Inside we can add new projects and volunteers and edit the information stored herein. Once a volunteer exists in our database we can assign them to the desired project.
      </p>
    </div>
    <div class="panel-body">
      <ul>
        <li>
          <p>
            <a href="/projects">See Project List</a>
          </p>
        </li>
        <li>
          <p>
            <a href="/projects/new">Add New Projects</a>
          </p>
        </li>
        <li>
          <p>
            <a href="/volunteers">See Volunteers List</a>
          </p>
        </li>
        <li>
          <p>
            <a href="/volunteers/new">Add New Volunteers</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
