<div class="well">
  <form class="form-horizontal" action="/projects" method="post">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Project name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="name" id="name" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label for="location" class="col-sm-2 control-label">Location:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="location" id="location" placeholder="Address">
      </div>
    </div>
    <div class="form-group">
      <label for="details" class="col-sm-2 control-label">Details or Notes:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="details" id="details" placeholder="Address">
      </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<% if @projects.any? %>

  <div class="well">
  <h2>All projects:</h2>
  <p>Click on a projects to edit</p>
  <ul>
    <% @projects.each() do |project| %>
    <li><a href="/projects/<%= project.id() %>/edit"><%= project.name() %></a></li>
    <ul>
      <li><%= project.location() %></li>
      <li><%= project.details() %></li>
    </ul>
    <% end %>
  </ul>
  </div>
<% else %>
  <div class="well">
    <h2>You have yet add a project.</h2>
  </div>
<% end %>
